{
  "sources": [
    {
      "name": "UserControlled",
      "comment": ""
    }
  ],

  "sinks": [
    {
      "name": "ShellExecution",
      "comment": "Print out data"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "Shell Out",
      "code": 5000,
      "sources": [ "UserControlled" ],
      "sinks": [ "ShellExecution" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ]
}